<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [style.--padding-bottom.px]="100">
  <ion-list class="ord-list">
    <ion-item *ngFor="let item of orderItems">
      <ion-label>
        <h2>{{ item.name }} </h2>
        <!-- <p>{{ item.description }}</p> -->
        <p>Quantity : {{ item.quantity }}</p>
      </ion-label>
      <ion-note class="price-cls" slot="end">${{ item.price * item.quantity }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="footer-total">
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-justify-content-between ion-padding-horizontal">
      <ion-col size="6">
        <h3 class="tlt-cls">Total Amount: ${{ total }}</h3>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button class="success" (click)="placeOrder()">
          Place Order
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>