<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Hamburger -->
    </ion-buttons>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button class="reset-cls" (click)="resetOrder()">Reset</ion-button> -->
      <!-- <ion-button class="logout-cls" color="danger" (click)="logout()">Logout</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="order-container">
    <!-- LEFT SIDE: Menu Items -->
    <div class="menu-left">
      <div *ngFor="let menu of groupedItems">
        <!-- <h4 class="menu-category">{{ menu.name }}</h4>

        <div class="item-card"
            *ngFor="let item of menu.items"
            [ngStyle]="{'background-color': getMenuColor(menu.name)}"
            (click)="selectItem(item)">
          <div class="item-name">{{ item.name }}</div>
        </div> -->
        <h2 class="menu-title">{{ menu.name }}</h2>
        <div class="menu-grid">
          <div class="menu-item-box" *ngFor="let item of menu.items" [ngStyle]="{ 'background-color': getMenuColor(menu.name) }"
            (click)="selectItem(item)">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE: Selected Items -->
    <div class="order-summary">
      <div class="order-header">
        <h3>Overall Items: {{ selectedItems.length }}</h3>
        <!-- <div class="order-type">Order Type: {{ isPhoneOrder ? 'Phone' : 'Walkin' }}</div> -->
        <div class="toggle-container">
          <span> Order Type: Walkin</span>
          <ion-toggle
            [(ngModel)]="isPhoneOrder"
            (ionChange)="updateOrderType($event)"
            color="primary"
          ></ion-toggle>
          <span>Phone</span>
        </div>
      </div>

      <div *ngFor="let item of selectedItems" class="selected-item">
        <div class="item-row">
          <div class="item-name">{{ item.name }}</div>
          <div class="item-price">${{ item.price }}</div>
          <ion-icon name="trash" (click)="removeItem(item)" class="delete-icon"></ion-icon>

          <input [(ngModel)]="item.notes" placeholder="Note" class="note-input" />

          <div class="quantity-controls">
            <button (click)="decrement(item)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="increment(item)">+</button>
          </div>
        </div>
      </div>
      <div class="summary-footer">
        <!-- <div *ngFor="let line of summaryLines">{{ line }}</div> -->
        <div class="total">Total: ₹{{ totalPrice }}</div>
        <div class="footer-buttons">
          <ion-button color="danger" (click)="openPaymentModal()" (click)="showPaymentOptions = true" [disabled]="totalPrice === 0">Place Order</ion-button>
        </div>
      </div>

      <!--  -->
      <!-- <ion-modal #paymentModal>
        <ng-template>
          <div class="payment-popup-content">
            <h3>Select Payment Type</h3>
      
            <ion-radio-group [(ngModel)]="paymentType" class="payment-radio-group">
              <ion-item class="radio-option">
                <ion-radio value="Cash" slot="start"></ion-radio>
                <ion-label>Cash</ion-label>
              </ion-item>
      
              <ion-item class="radio-option">
                <ion-radio value="Card" slot="start"></ion-radio>
                <ion-label>Card</ion-label>
              </ion-item>
            </ion-radio-group>
      
            <div class="popup-actions">
              <ion-button color="success" (click)="confirmPayment()">Confirm</ion-button>
              <ion-button fill="clear" color="medium" (click)="closePaymentModal()">Cancel</ion-button>
            </div>
          </div>
        </ng-template>
      </ion-modal> -->

      <ion-modal #paymentModal [breakpoints]="[0, 0.5, 0.8]" [initialBreakpoint]="0.5">
        <ng-template>
          <div class="payment-popup-content">
            <h3 class="pop-ttle">Select Payment Type</h3>
      
            <ion-radio-group [(ngModel)]="paymentType">
              <div class="row-wrapper">
                <ion-item class="half-item">
                  <ion-radio value="Cash" slot="start"></ion-radio>
                  <ion-label>Cash</ion-label>
                </ion-item>
      
                <ion-item class="half-item">
                  <ion-radio value="Card" slot="start"></ion-radio>
                  <ion-label>Card</ion-label>
                </ion-item>
              </div>
            </ion-radio-group>
      
            <div class="popup-actions">
              <ion-button color="success" (click)="confirmPayment()">Confirm</ion-button>
              <ion-button fill="clear" color="medium" (click)="closePaymentModal()">Cancel</ion-button>
            </div>
          </div>
        </ng-template>
      </ion-modal>
      

    </div>
  </div>
</ion-content>